<div class="container">
  <div class="col-md-8 col-sm-12">
    <h1> Todos os Serviços </h1>
  </div>
  <div class="card-group">
    <div class="col-sm-6 col-md-3 col-lg-3">
      <div class="card-novo-servico">
          <i class="fa fa-plus" title="Adicionar novo serviço" (click)="addService()"></i>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3" *ngFor="let service of services">
      <div class="card" (click)="editService(service)">
        <img src="{{ service.thumbnail }}" alt="{{ service.name }}">
        <section class="text-center">
          <h3> {{ service.name }} </h3>
        </section>
      </div>
    </div>
  </div>
</div>
