<div class="container">
  <div class="card card-info-grupo col-md-12">
    <div class="row">
      <h3 class="pt-4 ps-4 pe-4 pb-2"> {{group.name}} </h3>
    </div>
    <div class="details-grupo ps-5">
      <div class="principal-content row mb-4">
        <div class="col-md-2 col-sm-12 center-row">
          <img src="{{thumbnail}}" alt="{{group.service?.name}}">
        </div>
        <div class="center-row col-md-3 col-sm-12">
          <h1> {{group.service?.name}} </h1>
        </div>
        <div class="price center-column col-md-7 col-sm-12">
          <p class="valor text-end pe-5"> {{(group.plan.price / group.plan.usersNumber).toFixed(2)}} </p>
          <p class="text-end descricao-valor pe-5"> por assinante </p>
        </div>
      </div>
      <div class="descricao mb-4">
        <p class="title-section">Descrição</p>
        <p class="text-descricao pe-5">
          {{group.plan.description}}
        </p>
      </div>
      <div class="vagas pb-2">
        <p class="title-section"> Vagas Restantes: <span class="valor"> {{(group.plan.usersNumber - group.users.length) - 1}} vagas </span> </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div [ngClass]="{'col-md-12 col-sm-12 mb-5': isOwner}" [ngClass]="{'col-md-7 col-sm-12 mb-5': !isOwner}">
      <div class="card card-info-participantes">
        <div class="row">
          <h3 class="pt-4 ps-4 pe-4 pb-2"> PARTICIPANTES </h3>
        </div>
        <div class="details-participantes ps-5">
          <ul>
            <li *ngFor="let user of request_users">
              <div class="row" *ngIf="!(user.status == 'R') || isOwner">
                <div class="col-md-6 user">
                  <i class="fa fa-user icon-perfil pe-3"></i>
                  <p>{{ user.user.name }}</p> 
                </div>
                <div class="col-md-6" *ngIf="isOwner">
                  <div *ngIf="user.status == 'A'" class="float-md-end float-lg-end float-xl-end float-xxl-end">
                    <span class="badge ps-4 pe-4 bg-info-mod">Já participante</span>
                  </div>
                  <div *ngIf="user.status == 'P'" class="float-md-end float-lg-end float-xl-end float-xxl-end">
                    <span class="badge ps-4 pe-4 bg-danger pointer me-2" (click)="recuseRequest(user.id.toString(), user.user.name)">Recusar solicitação</span>
                    <span class="badge ps-4 pe-4 bg-success pointer" (click)="acceptRequest(user.id.toString(), user.user.name)">Aceitar solicitacao</span>
                  </div>
                  <div *ngIf="user.status == 'R'" class="float-md-end float-lg-end float-xl-end float-xxl-end">
                    <span class="badge ps-4 pe-4 bg-danger">Recusado</span>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  
    <div class="col-md-5 col-sm-12" *ngIf="!isOwner">
      <div class="card card-valor-final mb-5 pt-4 pb-3 ps-5 pe-5">
        <div class="valor">
          <p class="text-info-valor"> Valor Total </p>
          <p class="text-valor text-quantidade"> {{group.plan.price}} </p>
        </div>
        <div class="quantidade mb-2">
          <p class="text-info-valor"> Quantidade de Contas</p>
          <p class="text-quantidade"> {{group.plan.usersNumber}} </p>
        </div>
        <div class="total mb-4">
          <p class="text-info-valor"> Valor Final </p>
          <p class="text-quantidade"> {{(group.plan.price / group.plan.usersNumber).toFixed(2)}} </p>
        </div>
        <button class="btn btn-success mb-2" (click)="requestGroup(group_id)" *ngIf="!requestedGroup">Quero Participar</button>
        <div class="alert alert-info bg-info-mod text-white" role="alert" *ngIf="requestedGroup && requestType=='P'">Sua solicitação foi enviada e ainda está em analise pelo administrador do grupo!</div>
        <div class="alert alert-success" role="alert" *ngIf="requestedGroup && requestType=='A'">Parabéns, sua solicitação foi aceita e você já faz parte desse grupo</div>
        <div class="alert alert-danger" role="alert" *ngIf="requestedGroup && requestType=='R'">Infelizmente sua solicitação foi recusada e você não pode fazer parte desse grupo</div>
      </div>
    </div>

  </div>
</div>
