<!-- TODO: ALTERAR O READONLY PARA FICAR DINÂMICO -->
<div class="container">
  <div class="row mb-4">
    <div class="col-md-6 col-sm-12">
      <div class="form-group mb-4">
        <label for="email" class="form-label">Email</label>
        <input [(ngModel)]="update_user.email" type="email" class="form-control" id="email_view" [readonly]="!isEdit">
      </div>
    </div>

    <div class="col-md-6 col-sm-12">
      <div class="name-field mb-4">
        <label for="name" class="form-label">Nome</label>
        <input [(ngModel)]="update_user.name" type="text" class="form-control" id="name_view" [readonly]="!isEdit">
      </div>
    </div>

    <div class="col-md-6 col-sm-12">
      <div class="cpf-field mb-4">
        <label for="cpf" class="form-label">CPF</label>
        <input [(ngModel)]="update_user.document" type="text" class="form-control" id="cpf_view" [readonly]="!isEdit" (keyup)="cpf_mask($event)">
      </div>
    </div>

    <div class="col-md-6 col-sm-12">
      <div class="birth-date-field mb-4">
        <label for="birth-date" class="form-label">Data de nascimento</label>
        <input [(ngModel)]="update_user.birthDate" type="date" class="form-control" id="birth-date_view" [readonly]="!isEdit">
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngIf="isEdit; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <div class="col-md-3 col-sm-12">
        <button type="button" class="btn btn-success" (click)="updatePerfil()"> Salvar </button>
      </div>
      <div class="col-md-3 col-sm-12">
        <button type="button" class="btn btn-danger" (click)="switchIsEdit('cancel')"> Cancelar Edição </button>
      </div>
    </ng-template>
    <ng-template #elseBlock>
      <div class="col-md-3 col-sm-12">
        <button type="button" class="btn btn-info" (click)="switchIsEdit('edit')"> Editar Perfil</button>
      </div>
      <div class="col-md-3 col-sm-12">
        <button type="button" class="btn btn-info"> Alterar Senha </button>
      </div>
    </ng-template>
    <div class="col-md-6 col-sm-12">
      <button type="button" class="btn btn-secondary btn-exit float-md-end float-lg-end float-xl-end float-xxl-end" (click)="logout()"><i class="fa fa-sign-out"></i> Sair</button>
    </div>
  </div>
</div>
