<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="form-group mb-4">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="exemplo@mail.com" readonly>
      </div>
    </div>
  
    <div class="col-md-6 col-sm-12">
      <div class="name-field mb-4">
        <label for="name" class="form-label">Nome</label>
        <input type="text" class="form-control" id="name" placeholder="John Doe" readonly>
      </div>
    </div>
  
    <div class="col-md-6 col-sm-12">
      <div class="cpf-field mb-4">
        <label for="cpf" class="form-label">CPF</label>
        <input type="text" class="form-control" id="cpf" placeholder="111.111.111-11" readonly>
      </div>
    </div>
  
    <div class="col-md-6 col-sm-12">
      <div class="username-field mb-4">
        <label for="username" class="form-label">Nome de usuário</label>
        <input type="text" class="form-control" id="username" placeholder="john_doe_12" readonly>
      </div>
    </div>
  
    <div class="col-md-6 col-sm-12">
      <div class="birth-date-field mb-4">
        <label for="birth-date" class="form-label">Data de nascimento</label>
        <input type="text" class="form-control" id="birth-date" placeholder="02/07/1994" readonly>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <button type="button" class="btn btn-info"><i class="fa fa-user"></i> Editar Perfil</button>
    </div>
    <div class="col-md-3 col-sm-12">
      <button type="button" class="btn btn-info"><i class="fa fa-lock"></i> Alterar Senha</button>
    </div>
    <div class="col-md-6 col-sm-12">
      <button type="button" class="btn btn-danger btn-exit float-md-end float-lg-end float-xl-end float-xxl-end"><i class="fa fa-sign-out"></i> Sair</button>
    </div>
  </div>
</div>