.container{
  margin-top: 200px;

  .btn-info{
    background-color: var(--primary);
    color: #FFFFFF;
    border: var(--primary);
  }

  .btn{
    width: 100%;
    margin-bottom: 15px;
  }

  .edit-button {
    width: 50% !important;
  }

  .btn-exit{
    width: 50%;
  }
}


@media screen and (max-width: 767px) {
  .container {
    margin-top: 50px !important;
  }
}
