<div class="sign-up">
  <h1 class="ensemble-logo text-center my-4">ensemble</h1>

  <div class="card mx-auto">
    <div class="email-field mb-4">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" placeholder="exemplo@mail.com">
    </div>

    <div class="name-field mb-4">
      <label for="name" class="form-label">Nome</label>
      <input type="text" class="form-control" id="name" placeholder="John Doe">
    </div>

    <div class="cpf-field mb-4">
      <label for="cpf" class="form-label">CPF</label>
      <input type="text" class="form-control" id="cpf" placeholder="111.111.111-11">
    </div>

    <div class="username-field mb-4">
      <label for="username" class="form-label">Nome de usuário</label>
      <input type="text" class="form-control" id="username" placeholder="john_doe_12">
    </div>

    <div class="birth-date-field mb-4">
      <label for="birth-date" class="form-label">Data de nascimento</label>
      <input type="date" class="form-control" id="birth-date" placeholder="02/07/1994">
    </div>

    <div class="password-field mb-4">
      <label for="password" class="form-label">Senha</label>
      <input type="password" class="form-control" id="password">
    </div>

    <div class="confirm-password-field mb-5">
      <label for="confirm-password" class="form-label">Confirme sua senha</label>
      <input type="password" class="form-control" id="confirm-password">
    </div>


    <div class="actions">
      <button type="button" class="btn btn-lg default-button mb-2">Cadastrar</button>
      <p>Já possui conta? Faça o <span routerLink="/login" class="link">login</span></p>
    </div>

  </div>

</div>
