<div class="container">
  <div class="col-md-8 col-sm-12">
    <h1> Todos os Grupos </h1>
  </div>
  <div class="card-group">
      <div class="col-sm-6 col-md-6 col-lg-3" *ngFor="let group of groups">
        <div class="card" (click)="showDetails(group.id)">
          <img src="{{group.service?.thumbnail}}" alt="Netflix">
          <section class="text-center info">
            <p> {{ group.name }} </p>
            <h3> {{ group.service?.name }} </h3>
            <p>
              <span class="fw-bold">{{group.usersLeft}}</span> Vagas
            </p>
            <p>
              <span class="fw-bold">R$ {{group.price}}</span> Mês
            </p>
          </section>
        </div>
      </div>
  </div>
</div>
