<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{ modalTitle }}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body px-4">
  <form>
    <div class="mb-3">
      <label for="name">Nome</label>
      <div class="input-group mt-2">
        <input [(ngModel)]="name" id="name" class="form-control" name="name" type="text">
      </div>
    </div>

    <div class="mb-3">
      <label for="logo">Logo</label>
      <div class="input-group mt-2">
        <input [(ngModel)]="logo" id="logo" class="form-control" name="logo" type="file" accept="image/png">
      </div>
    </div>

    <div class="mb-3">
      <label for="logo">Tipo de serviço</label>
      <div class="input-group mt-2">
        <select class="form-select" [(ngModel)]="categoryId" name="categoryId">
          <option *ngFor="let category of categories" value="1" [value]="category.id">{{ category.description }}</option>
        </select>
      </div>
    </div>

    <div id="plans">
      <div class="plan-list mt-5" id="plan-1">
        <div class="plan-container">
          <div class="plan-header">
            Plano
            <i class="fa fa-trash exclude-plan text-red" (click)="removePlan(1)" title="Excluir plano"></i>
          </div>
          <div class="card">
            <div class="my-3">
              <label>Nome do plano</label>
              <div class="input-group mt-2">
                <input class="form-control" type="text" name="plan_name_1">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-6">
                <label>Quantidade de usuários</label>
                <div class="input-group mt-2">
                  <input class="form-control" type="number" name="plan_qtd_users_2">
                </div>
              </div>
              <div class="col-6">
                <label>Valor total</label>
                <div class="input-group mt-2">
                  <input class="form-control" type="text" name="plan_total_value_3">
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label>Descrição</label>
              <div class="input-group mt-2">
                <textarea class="form-control" type="text" name="plan_description_4"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="plan-list mt-5 display-none" id="plan-{{i}}" *ngFor="let i of [2,3,4,5,6,7,8,9,10]">
        <div class="plan-container">
          <div class="plan-header">
            Plano
            <i class="fa fa-trash exclude-plan text-red" (click)="removePlan(i)" title="Excluir plano"></i>
          </div>
          <div class="card">
            <div class="my-3">
              <label>Nome do plano</label>
              <div class="input-group mt-2">
                <input class="form-control" type="text" name="plan_name_{{i}}" id="plan_name_{{i}}">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-6">
                <label>Quantidade de usuários</label>
                <div class="input-group mt-2">
                  <input class="form-control" type="number" name="plan_qtd_users_{{i}}" id="plan_qtd_users_{{i}}">
                </div>
              </div>
              <div class="col-6">
                <label>Valor total</label>
                <div class="input-group mt-2">
                  <input class="form-control" type="text" name="plan_total_value_{{i}}" id="plan_total_value_{{i}}">
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label>Descrição</label>
              <div class="input-group mt-2">
                <textarea class="form-control" type="text" name="plan_description_{{i}}" id="plan_description_{{i}}"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button type="button" id="btn-add-plan" class="btn d-md-block btn-secondary add-plan" (click)="addPlan()"> Adicionar plano </button>
  </form>
</div>
<div class="modal-footer">
  <div *ngIf="editMode; then ifBlock else elseBlock"></div>
  <ng-template #ifBlock>
    <div class="actions">
      <button type="button" class="btn btn-danger"> Excluir </button>
      <button type="button" class="btn btn-success"> Salvar </button>
    </div>
  </ng-template>
  <ng-template #elseBlock>
      <div class="actions">
        <button type="button" class="btn btn-danger" (click)="activeModal.dismiss()"> Cancelar </button>
        <button type="button" class="btn btn-success" (click)="saveService()"> Salvar </button>
      </div>
  </ng-template>
</div>
