<div class="container">
  <button class="no-bg no-border"><span class="border-rounded badge ps-4 pe-4 bg-info-mod font-2 me-2">Membro</span></button>
  <button class="no-bg no-border"><span class="border-rounded badge ps-4 pe-4 no-bg font-2 me-2">Admin</span></button>
  <!-- <ul class="nav nav-tabs mb-3">
    <li class="nav-item" role="presentation">
      
      <a class="nav-link active" id="grupos-membro" data-mdb-toggle="tab" href="#div-grupos-membro" role="tab"
        aria-controls="div-grupos-membro" aria-selected="true"> Membro </a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="grupos-admin" data-mdb-toggle="tab" href="#div-grupos-admin" role="tab" aria-controls="div-grupos-admin"
        aria-selected="false"> Administrador </a>
    </li>
  </ul> -->
  
  <div class="tab-content">
    <div class="tab-pane show active" id="div-grupos-membro" role="tabpanel" aria-labelledby="grupos-membro">
      <div class="card-group">
        <div class="col-sm-6 col-md-3 col-lg-3" *ngFor="let group of member_groups">
          <div class="card">
            <img src="{{ group.image }}" alt="">
            <section class="text-center info">
              <p> {{ group.group_name }} </p>
              <h3> {{ group.service }} </h3>
              <p>
                <span class="fw-bold">{{ group.total_vacancies }}</span> Vagas
              </p>
              <p>
                <span class="fw-bold">{{ group.price }} R$</span> Mês
              </p>
            </section>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="div-grupos-admin" role="tabpanel" aria-labelledby="grupos-admin">
      <div class="card-group">
        <div class="col-sm-6 col-md-3 col-lg-3" *ngFor="let group of owner_groups">
          <div class="card">
            <img src="{{ group.image }}" alt="">
            <section class="text-center info">
              <p> {{ group.group_name }} </p>
              <h3> {{ group.service }} </h3>
              <p>
                <span class="fw-bold">{{ group.total_vacancies }}</span> Vagas
              </p>
              <p>
                <span class="fw-bold">{{ group.price }} R$</span> Mês
              </p>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>