<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title"> Criar Grupo </h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body px-4">
  <form>
    <div class="mb-3">
      <label>Selecione o plano</label>
      <div class="input-group mt-2">
        <select class="form-select" [(ngModel)]="planId" name="plan" (ngModelChange)="updatePlan($event)">
          <option *ngFor="let plan of serviceData.plans" value="1" [value]="plan.id">{{ plan.name }}</option>
        </select>
      </div>
    </div>

    <div class="mb-3">
      <label>Serviço</label>
      <div class="input-group mt-2">
        <input [(ngModel)]="serviceData.name" readonly class="form-control" name="service" type="text">
      </div>
    </div>

    <div class="mb-3">
      <label>Nome do grupo</label>
      <div class="input-group mt-2">
        <input [(ngModel)]="groupName" readonly class="form-control" name="name" type="text">
      </div>
    </div>

    <div class="mb-3">
      <label>Valor do serviço</label>
      <div class="input-group mt-2">
        <input [(ngModel)]="price" readonly class="form-control" name="price" type="text">
      </div>
    </div>

    <div class="mb-3">
      <label>Vagas totais</label>
      <div class="input-group mt-2">
        <input [(ngModel)]="usersNumber" readonly class="form-control" name="usersNumber" type="text">
      </div>
    </div>

    <div class="mb-3">
      <label>Valor por membro</label>
      <div class="input-group mt-2">
        <input [(ngModel)]="valuePerUser" readonly class="form-control" name="valuePerMember" type="text">
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
    <div class="actions">
      <button [disabled]="!planId" type="button" class="btn btn-success"> Salvar </button>
      <button type="button" class="btn btn-danger" (click)="activeModal.dismiss()"> Cancelar </button>
    </div>
</div>
