<!-- <div class="toolbar" role="banner">
  <h1 class="ensemble-logo mx-5 my-0">ensemble</h1>

  <ul class="nav mx-5">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/criar-grupo" routerLinkActive="active">Criar grupo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/meus-grupos" routerLinkActive="active">Meus grupos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/perfil" routerLinkActive="active">Perfil</a>
    </li>
  </ul>
</div> -->

<!-- <nav class="navbar navbar-expand-lg toolbar" role="banner">
  <h1 class="ensemble-logo mx-5 my-0">ensemble</h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/criar-grupo" routerLinkActive="active">Criar grupo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/meus-grupos" routerLinkActive="active">Meus grupos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/perfil" routerLinkActive="active">Perfil</a>
      </li>
    </ul>
  </div>
</nav> -->

<!-- <nav class="navbar navbar-expand-lg toolbar" role="banner">
  <div class="container-fluid">
    <h1 class="">ensemble</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="text-white"> <i class="fa fa-bars text-white" aria-hidden="true"></i> </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/criar-grupo" routerLinkActive="active">Criar grupo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/meus-grupos" routerLinkActive="active">Meus grupos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/perfil" routerLinkActive="active">Perfil</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg toolbar">
  <div class="container-fluid">
    <h1 class="ensemble-logo mx-5 my-0">ensemble</h1>
    <button class="navbar-toggler" (click)="switchShowMenu()" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="text-white"> <i class="fa fa-bars text-white" aria-hidden="true"></i> </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/criar-grupo" routerLinkActive="active">Criar grupo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/meus-grupos" routerLinkActive="active">Meus grupos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/perfil" routerLinkActive="active">Perfil</a>
        </li>
      </ul>
    </div>
  </div>
</nav>