<div class="toolbar" role="banner">
  <h1 class="ensemble-logo mx-5 my-0">ensemble</h1>

  <ul class="nav mx-5">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/home" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Criar grupo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Meus grupos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/perfil" href="#">Perfil</a>
    </li>
  </ul>

</div>
