/* You can add global styles to this file, and also import other style files */
@import 'assets/style/_colors';
@import 'assets/style/_fonts';


.ensemble-logo {
  font-family: var(--font-title);
  font-weight: 700;
  font-size: 64px;
  color: var(--primary);
  text-transform: uppercase;
}

.default-button {
  background-color: var(--primary);
  color: white;
  font-family: var(--font-default);
  font-weight: bold;
}

.default-button:hover {
  color: white;
}

.link {
  color: var(--primary);
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
